<template>
  <Teleport to="body">
    <BaseDialog
      v-if="inputIsInvalid"
      title="Invalid Input"
      @close="confirmError"
    >
      <template #default>
        <p>Unfortunately, at least one input value is invalid.</p>
        <p>
          Please, check all inputs and make sure you enter at least a few
          characters into each input frield.
        </p>
      </template>
      <template #actions>
        <BaseButton @click="confirmError">Okay</BaseButton>
      </template>
    </BaseDialog>
  </Teleport>

  <BaseCard>
    <form @submit.prevent="submitHandler">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" v-model="title" />
      </div>
      <div class="form-control">
        <label for="description">Title</label>
        <textarea
          rows="3"
          id="description"
          name="description"
          v-model="description"
        ></textarea>
      </div>
      <div class="form-control">
        <label for="link">Link</label>
        <input type="url" id="link" name="link" v-model="link" />
      </div>
      <div>
        <BaseButton type="submit">Add Resource</BaseButton>
      </div>
    </form>
  </BaseCard>
</template>

<script>
import BaseButton from '../UI/BaseButton.vue';
import BaseCard from '../UI/BaseCard.vue';
import BaseDialog from '../UI/BaseDialog.vue';

export default {
  data() {
    return {
      title: '',
      description: '',
      link: '',
      id: '',
      inputIsInvalid: false,
    };
  },
  inject: ['addResource'],
  methods: {
    submitHandler() {
      if (
        this.title.trim() === '' ||
        this.description.trim() === '' ||
        this.link.trim() === ''
      ) {
        this.inputIsInvalid = true;
        return;
      }
      this.addResource(this.title, this.description, this.link);
      this.resetInputs();
    },
    resetInputs() {
      this.title = '';
      this.description = '';
      this.link = '';
      this.id = '';
    },
    confirmError() {
      this.inputIsInvalid = false;
    },
  },
  components: { BaseCard, BaseButton, BaseDialog },
};
</script>

<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>
